html,
body {
    height: 100%;
    padding: 0;
    margin: 0;
}

body {
    font: 400 14px/20px var(--font-family), Tahoma, Verdana, sans-serif !important;
    color: var(--text-color);
    background-color: var(--bg-color);
    background-repeat: repeat;
    background-size: cover;
    overflow: hidden;
}